# List of plugins
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-cpu'
# set -g @plugin 'dracula/tmux'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
# set -g @plugin 'lljbash/tmux-update-display'
# tmux menus
set -g @plugin 'jaclu/tmux-menus'
# Plugin to enable nvim file explorer sidebar
set -g @treemux-tree-nvim-init-file '~/.tmux/plugins/treemux/configs/treemux_init.lua'
set -g @plugin 'kiyoon/treemux'

set -g @plugin 'sainnhe/tmux-fzf'
set -g @plugin 'wfxr/tmux-fzf-url'

## Set 256 colors
## Some machine specific conda and module logic
#{{- if eq .chezmoi.hostname "hypatia-login" }}
## set hypatia suitable colours
##set -s default-terminal 'screen-256color'
##set-option -sa terminal-overrides ",xterm*:Tc"
##set-option -ga terminal-overrides ',xterm-256color:RGB'
#{{ else }}
##set -s default-terminal 'tmux-256color'
##set-option -sa terminal-overrides ",xterm*:Tc"
##set-option -g terminal-overrides ',xterm-256color:RGB'
#{{ end }}

set -g update-environment -r     # Update the tmux environment to use the newest environmental variables
set -g base-index 1              # start indexing windows at 1 instead of 0
set -g history-limit 1000000     # increase history size (from 2,000)
set -g renumber-windows on       # renumber all windows when any window is closed

# some general status bar options
# set-option -g status-position top
# set-option -g status-style bg=default

# Catpuccin options
set -g @catppuccin_flavour 'macchiato' # latte, frappe, macchiato, mocha

set -g @catppuccin_window_left_separator ""
set -g @catppuccin_window_right_separator " "
set -g @catppuccin_window_middle_separator " █"
set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_default_text "#W"
set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_window_current_text "#W"

set -g @catppuccin_status_modules_right "application user host cpu date_time"
set -g @catppuccin_date_time_text "%Y/%m/%d %H:%M"
set -g @catppuccin_status_left_separator  " "
set -g @catppuccin_status_right_separator ""
set -g @catppuccin_status_right_separator_inverse "no"
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_connect_separator "no"

set -g @catppuccin_directory_text "#{pane_current_path}"

# Enable automatic restore
set -g @continuum-restore 'on'

# Plugin to enable nvim file explorer sidebar
# set -g @treemux-tree-nvim-init-file '~/.tmux/plugins/treemux/configs/treemux_init.lua'

# Mouse options
set-option -g mouse on

# Use configured shell as default shell in tmux
set-option -g default-shell $SHELL

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
