# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
{{- if eq .chezmoi.hostname "hypatia-login" }}
ZSH_THEME="gnzh"
TERM=xterm
{{ else if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/opt/spaceship/spaceship.zsh
{{ else }}
ZSH_THEME="spaceship"
{{ end }}

## Enable auto oh my zsh updates
zstyle ':omz:update' mode auto      # update automatically without asking


# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.

## Set the default editor to neovim
export PATH="$PATH:/opt/nvim/"
export EDITOR='nvim'
export VISUAL='nvim'

# --- set ZSH plugins ---
{{- if eq .chezmoi.hostname "hypatia-login" }}
plugins=(
  git
  urltools
  bgnotify
)
source $ZSH/oh-my-zsh.sh
{{ else }}
plugins=(
  git
  urltools
  bgnotify
  zsh-autosuggestions
)
source $ZSH/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $ZSH/oh-my-zsh.sh
{{ end }}

# ---- Only enable github CLI on mac ----
{{- if eq .chezmoi.os "darwin" }}
eval "$(gh copilot alias -- zsh)"
{{ end }}


# ---- Some machine specific conda and module logic ----
{{- if eq .chezmoi.hostname "hypatia-login" }}
source /share/apps/anaconda/3-2022.05/etc/profile.d/conda.sh
module load cmake/3.17.3 git/2.44.0 gcc/10.1.0 gsl/2.6
{{ else if eq .chezmoi.os "darwin" }}
__conda_setup="$('/opt/anaconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/anaconda3/etc/profile.d/conda.sh" ]; then
        . "/opt/anaconda3/etc/profile.d/conda.sh"
    else
        export PATH="/opt/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
{{ else }} # For a generic linux machine
__conda_setup="$('$HOME/anaconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$HOME/anaconda3/etc/profile.d/conda.sh" ]; then
        . "$HOME/anaconda3/etc/profile.d/conda.sh"
    else
        export PATH="$HOME/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
{{ end }}

# ---- Add some folders to path ----
export PATH=$HOME/.local/bin:$PATH
export LD_LIBRARY_PATH=$HOME/.local/lib:$LD_LIBRARY_PATH
export PATH=$PATH:$HOME/.local/go/bin
export PATH=$PATH:$HOME/bin

# ---- Add some CUDA folders to path ----
export PATH=/usr/.local/cuda-10.0/bin:$PATH
export CPATH=$HOME/.local/include/:$CPATH
export LD_LIBRARY_PATH=$HOME/.local/lib/cuda/include:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$HOME/.local/lib/cuda/lib64:$LD_LIBRARY_PATH

# ---- duf for better df ----
alias df="duf --hide-fs squashfs"

# ---- Zoxide ----
eval "$(zoxide init zsh --cmd cd)"

# ---- Eza (better ls) -----
alias ls="eza --color=always --long --group --git --icons=always"

# ---- Rust ----
. "$HOME/.cargo/env"

# ---- Nodejs npm and nvm ----
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# ---- This loads atuin ----
eval "$(atuin init zsh)"

## Load custom shell options if not on hypatia
{{- if eq .chezmoi.hostname "hypatia-login" }}
{{ else }}

# ---- Loads iTerm2 integrations ----
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh" || true

# -- Use fd instead of fzf --
export FZF_DEFAULT_OPTS=" \
--color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
--color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
--color=marker:#f4dbd6,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796"
export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"

# Use fd (https://github.com/sharkdp/fd) for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}

# fzf options to make use of bat previews
export FZF_CTRL_T_OPTS="--preview 'bat -n --color=always --line-range :500 {}'"
export FZF_ALT_C_OPTS="--preview 'eza --tree --color=always {} | head -200'"

# Advanced customization of fzf options via _fzf_comprun function
# - The first argument to the function is the name of the command.
# - You should make sure to pass the rest of the arguments to fzf.
_fzf_comprun() {
  local command=$1
  shift

  case "$command" in
    cd)           fzf --preview 'eza --tree --color=always {} | head -200' "$@" ;;
    export|unset) fzf --preview "eval 'echo $'{}"         "$@" ;;
    ssh)          fzf --preview 'dig {}'                   "$@" ;;
    *)            fzf --preview "bat -n --color=always --line-range :500 {}" "$@" ;;
  esac
}
{{ end }}

# ---- Loads fzf ----
{{- if eq .chezmoi.hostname "hypatia-login" }}
{{ else if eq .chezmoi.os "darwin" }}
source <(fzf --zsh)
# ff function to check aerospace windows in terminal
fuzzy_aerospace() {
  aerospace list-windows --all | fzf --bind 'enter:execute(bash -c "aerospace focus --window-id {1}")+abort'
}
alias ff=fuzzy_aerospace

{{ else }}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ end }}

# ---- Loads carapace autocompletions ----
{{ if eq .chezmoi.os "darwin" }}
export CARAPACE_BRIDGES='zsh,fish,bash,inshellisense' # optional
zstyle ':completion:*' format $'\e[2;37mCompleting %d\e[m'
source <(carapace _carapace)
{{ end }}

# ---- auto start TMUX only if on mac ----
{{ if eq .chezmoi.os "darwin" }}
if command -v tmux &> /dev/null && [ -z "$TMUX" ]; then
    tmux attach -t evo || tmux new -s evo
fi
{{ end }}

