# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'dracula/tmux'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
set -g @plugin 'lljbash/tmux-update-display'
set -g @plugin 'kiyoon/treemux'
set -g @plugin 'sainnhe/tmux-fzf'
set -g @plugin 'wfxr/tmux-fzf-url'

# Set 256 colors
# Some machine specific conda and module logic
{{- if eq .chezmoi.hostname "hypatia-login" }}
# set hypatia suitable colours
set -s default-terminal 'xterm-256color'
#set-option -sa terminal-overrides ",xterm*:Tc"
set-option -g terminal-overrides ',xterm-256color:RGB'
{{ else }}
set -s default-terminal 'tmux-256color'
#set-option -sa terminal-overrides ",xterm*:Tc"
set-option -g terminal-overrides ',xterm-256color:RGB'
{{ end }}

set -g base-index 1              # start indexing windows at 1 instead of 0
set -g history-limit 1000000     # increase history size (from 2,000)
set -g renumber-windows on       # renumber all windows when any window is closed

# Dracula options
set -g @dracula-show-fahrenheit false
set -g @dracula-show-powerline true
set -g @dracula-show-timezone false
set -g @dracula-fixed-location "London"
set -g @dracula-time-format "%F %R"
set -g @dracula-plugins "network-bandwidth cpu-usage gpu-usage ram-usage weather time"
#set -g @dracula-cpu-usage-colors "pink dark_gray"

# Enable automatic restore
set -g @continuum-restore 'on'

# Plugin to enable nvim file explorer sidebar
set -g @treemux-tree-nvim-init-file '~/.tmux/plugins/treemux/configs/treemux_init.lua'

# Mouse options
set-option -g mouse on

# Use configured shell as default shell in tmux
set-option -g default-shell $SHELL

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
